html,
body {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
body {
    background: #f7f7f7;
    overflow-x: hidden;
}
#banner {
    background: url(./assets/img/banner.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 5em;
    color: #fff;
    text-shadow: #000 0 0 10px;
}
#tag {
    padding: 1em 0;
    background: rgba(250, 0, 0, 0.5);
    color: #fff;
}
#tag span {
    margin: 0 1em;
}
nav {
    padding: 1em 0;
    background: #fff;
    box-shadow: 5px 0 1px #000;
}
nav a {
    color: #eb5757;
}
nav a:hover {
    color: #000;
}
.navbar-brand {
    font-weight: bolder;
}
main {
    margin-top: 3em;
}
hr {
    border-color: #eb5757;
}
.devicons {
    font-size: 24px;
}
.box-parent {
    margin-top: 10px;
    /* justify-content: center;
    align-content: center; */
}
.box {
    background: #fff;
    max-width: 350px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 10px;
    box-shadow: 1px 0 1px #000;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.box p {
    font-size: larger;
}
section {
    margin-top: 1em;
    padding: 3em;
}
section .card {
    height: 150px;
    border-radius: 15px;
    padding: 0.5em 1em;
    box-shadow: 2px 0 2px #4f4f4f;
}
.footer {
    background: #eb5757;
    color: #f7f7f7;
    font-size: smaller;
}

@media screen and (max-width: 767px) {
    .html-p,
    .html-h {
        text-align: justify;
    }

    #tag span {
        margin: 0 5px;
    }

    .completed-lessons {
        margin-top: 5px;
    }
}

/* lesson html */

